include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pyproject.toml
recursive-include mcp_host *.py
recursive-include mcp_host py.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
